accelerate==0.30.0
av==14.0.1
bitsandbytes==0.45.3
bunny==0.0.1
datasets==3.1.0
decord==0.6.0
deepspeed==0.15.4
diffusers==0.32.2
editdistance==0.8.1
einops==0.8.1
einops_exts==0.0.4
flash_attn==2.7.0.post2
huggingface_hub==0.26.2
matplotlib==3.10.1
numpy==2.2.3
opencv_python==4.10.0.84
packaging==24.2
pandas==2.2.3
peft==0.14.0
Pillow==11.1.0
pycocoevalcap==1.2
PyYAML==6.0.2
PyYAML==6.0.2
Requests==2.32.3
rich==13.9.4
ring_flash_attn==0.1.1
safetensors==0.5.3
setuptools==75.1.0
shortuuid==1.0.13
tokenizers==0.21.1
torch==2.1.2+cu121
torch_npu==2.4.0.post2
torchvision==0.16.2+cu121
tqdm==4.67.1
transformers==4.43.0
typing_extensions==4.12.2
tyro==0.9.17
wandb==0.19.8
xformers==0.0.29.post3
